# MacOS files
**/.DS_Store
.DS_Store

# Obsidian
.obsidian/workspace/*
.obsidian-git-data
.obsidian/workspace.json
.obsidian/graph.json
.obsidian/plugins/obsidian-advanced-slides/data.json
.obsidian/appearance.json
